body {
	background-image: url(./imagens/Fundoroxo.png);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	font-family: 'Century Gothic', monospace;
	color: #BC67E0;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Century Gothic', monospace;
	font-size: 150px;
}


ul {
	display: inline-block;
	text-align: left;
	list-style-position: inside;
}

#list {
	color: #BC67E0;
	display: inline-block;
	text-align: left;
	list-style-position: outside;
  border: 2px #BC67E0;
  border-style: solid none solid none;
  border-radius: 8px 8px 8px 8px;
  padding: 40px;
}

p {
	color: #BC67E0;
}


.main a:link, a:visited {
  background-color: #black;
  color: #51829B;
  border: 2px #BC67E0;
  border-style: solid none solid none;
  border-radius: 8px 8px 8px 8px;
  padding: 14px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main a:hover, a:active {
  background-color: #BC67E0;
  color: #51829B;
}

.sub a:link, a:visited {
  background-color: #black;
  color: #51829B;
  border: 2px #BC67E0;
  border-style: solid none solid none;
  border-radius: 8px 8px 8px 8px;
  padding: 14px 60px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  list-style-position: inside;
}

.sub a:hover, a:active {
  background-color: #BC67E0;
  color: #51829B;
}

div.box {
	display: inline-block;
}
